.logo {
    height: 32px;
    margin: 16px;
    /*background: rgba(255, 255, 255, 0.2);*/
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.site-layout .site-layout-background {
    background: #fff;
}